# Ignore all hidden files, except for .gitignore and .gitkeep
.*
!/.gitignore
!.gitkeep

# Ignore csv files
*.csv

# Ignore pdf files
*.pdf

# Ignore figures
*.png

# Ignore bytecodes
*.pyc

# Ignore .txt files
*.txt